## 7 segment display

NET "CA"             LOC=T10 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_A00_D16_14
NET "CB"             LOC=R10 | IOSTANDARD=LVCMOS33; #IO_25_14
NET "CC"             LOC=K16 | IOSTANDARD=LVCMOS33; #IO_25_15
NET "CD"             LOC=K13 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_A26_15
NET "CE"             LOC=P15 | IOSTANDARD=LVCMOS33; #IO_L13P_T2_MRCC_14
NET "CF"             LOC=T11 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_A10_D26_14
NET "CG"             LOC=L18 | IOSTANDARD=LVCMOS33; #IO_L4P_T0_D04_14

## LEDS
NET "LED1"             LOC=H17 | IOSTANDARD=LVCMOS33;
NET "LED2"             LOC=K15 | IOSTANDARD=LVCMOS33;
NET "LED3"             LOC=J13 | IOSTANDARD=LVCMOS33;
NET "LED4"             LOC=N14 | IOSTANDARD=LVCMOS33;

##Switches
NET "SW_0"		LOC=J15 | IOSTANDARD=LVCMOS33;
NET "SW_1"		LOC=L16 | IOSTANDARD=LVCMOS33;
NET "SW_2"		LOC=M13 | IOSTANDARD=LVCMOS33;
NET "SW_3"		LOC=R15 | IOSTANDARD=LVCMOS33;
NET "SW_4"		LOC=R17 | IOSTANDARD=LVCMOS33;
NET "SW_5"		LOC=T18 | IOSTANDARD=LVCMOS33;
NET "SW_6"		LOC=U18 | IOSTANDARD=LVCMOS33;
NET "SW_7"		LOC=R13 | IOSTANDARD=LVCMOS33;
NET "SW_8"		LOC=T8  | IOSTANDARD=LVCMOS33;
NET "SW_9"		LOC=U8  | IOSTANDARD=LVCMOS33;
NET "SW_10"		LOC=R16 | IOSTANDARD=LVCMOS33;
NET "SW_11"		LOC=T13 | IOSTANDARD=LVCMOS33;
NET "SW_12"		LOC=H6  | IOSTANDARD=LVCMOS33;
NET "SW_13"		LOC=U12 | IOSTANDARD=LVCMOS33;
NET "SW_14"		LOC=U11 | IOSTANDARD=LVCMOS33;
NET "SW_15"		LOC=V10 | IOSTANDARD=LVCMOS33;

##buttons
NET "btnc"           LOC=N17 | IOSTANDARD=LVCMOS33; #IO_L9P_T1_DQS_14
NET "btnd"           LOC=P18 | IOSTANDARD=LVCMOS33; #IO_L9N_T1_DQS_D13_14
#NET "btnl"           LOC=P17 | IOSTANDARD=LVCMOS33; #IO_L12P_T1_MRCC_14
#NET "btnr"           LOC=M17 | IOSTANDARD=LVCMOS33; #IO_L10N_T1_D15_14
#NET "btnu"           LOC=M18 | IOSTANDARD=LVCMOS33; #IO_L4N_T0_D05_14




#ANx

NET "AN0"          LOC=J17 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_FOE_B_15
NET "AN1"          LOC=J18 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_FWE_B_15
NET "AN2"          LOC=T9  | IOSTANDARD=LVCMOS33; #IO_L24P_T3_A01_D17_14
NET "AN3"          LOC=J14 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_A22_15
NET "AN4"          LOC=P14 | IOSTANDARD=LVCMOS33; #IO_L8N_T1_D12_14
NET "AN5"          LOC=T14 | IOSTANDARD=LVCMOS33; #IO_L14P_T2_SRCC_14
NET "AN6"          LOC=K2  | IOSTANDARD=LVCMOS33; #IO_L23P_T3_35
NET "AN7"          LOC=U13 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_A02_D18_14

## Clock signal
NET "IN_CLK"   LOC = "E3"	| IOSTANDARD = "LVCMOS33";					#Bank = 35, Pin name = #IO_L12P_T1_MRCC_35,					Sch name = clk100mhz
NET "IN_CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz HIGH 50%;
